:root {
  --primary-font: "Source Sans Pro", sans-serif;
  --second-font: "Permanent Marker", cursive;
}
h1 {
  text-align: left;
}

h2 {
  color: #1c1c1c;
}

body {
  max-width: 800px;
  margin: auto;
}

#current-city {
  font-family: var(--second-font);
  font-size: 48px;
}

.tempDisplay {
  text-align: center;
}

#todayTemprature {
  font-family: var(--second-font);
  font-size: 48px;
}

.dicon {
  display: block;
  margin: 0 auto;
}

.tempUnit {
  font-family: "Secular One", sans-serif;
}

#weatherShow {
  text-align: center;
  font-family: "Secular One", sans-serif;
  line-height: 35px;
}

.hi {
  font-size: 28px;
}

.low {
  color: darkgray;
  font-size: 28px;
}

.center {
  text-align: center;
}

.tmr {
  font-size: 27px;
  color: salmon;
}

.lft {
  font-size: 19px;
  color: darksalmon;
}

.tme {
  font-family: var(--primary-font);
  font-weight: light;
  font-size: 20px;
  line-height: 25px;
}

.tempUnit {
  color: red;
}

.tempUnit:hover {
  font-weight: bold;
  color: darkslateblue;
  text-shadow: 2px 3px darkgray;
  cursor: pointer;
  text-decoration: none;
}

.cardBody {
  text-align: center;
  font-family: var(--primary-font);
}

.hrlyTime {
  text-align: center;
  font-weight: bold;
  font-family: var(--primary-font);
  font-size: 18px;
}

.bio {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
}

#cunit.active,
#funit.active {
  color: darkgray;
}
